
exportClasses(chromLocation, FramedHTMLPage, GOTerms, homoData, HTMLPage, pubMedAbst)

exportMethods(abstText, articleTitle, authors, chromInfo, chromLengths, chromLocs, chromNames, dataSource, Definition, fileName, geneSymbols, GOID, homoACC, homoHGID, homoLL, homoOrg, homoPS, homoType, homoURL, initialize, journal, mainPage, nChrom, Ontology, organism, pageText, pageTitle, pmid, probesToChrom, pubDate, pubMedAbst, Secondary, show, sidePage, Synonym, Term, toFile, topPage)

export(ACC2homology, accessionToUID, ACCNUMStats, .buildAnnotateOpts, buildChromLocation, buildPubMedAbst, checkArgs, compatibleVersions, findChr4LL, findNeighbors, genbank, genelocator, getBoundary, getCells, getGI, getGO, getGOdesc, getGPLNames, .getIdTag, getLL, .getNcbiURL, getPMID, getPMInfo, getQuery4Affy, getQuery4EN, getQuery4FB, getQuery4GB, getQuery4LL, getQuery4OMIM, getQuery4SP, getQuery4UG, getQueryLink, getSAGEFileInfo, getSAGEGPL, getSEQ, getSYMBOL, getTDRows, getUniqAnnItem, getValidChr, GO2heatmap, GOmnplot, GOTerms, .handleXML, HGID2homology, homoData, htmlpage, installDataPackage, KEGG2heatmap, KEGGmnplot, LL2homology, locuslinkByID, locuslinkQuery, lookUp, makeAnchor, neighborGeneFinder, p2LL, pmAbst2HTML, pm.abstGrep, .pmfetch, pm.getabst, pmidQuery, pm.titles, probesByLL, pubmed, PWAmat, readGEOAnn, readIDNAcc, readUrl, revBase, revString, serializeDataPkgEnvs, serializeEnv, .transformAccession, UniGeneQuery, usedChromGenes, weightByConfi, whatACC, PMIDAmat)
