import("AnnotationDbi")

exportClasses(
              chromLocation,
              FramedHTMLPage,
              GOTerms,
              homoData,
              HTMLPage,
              pubMedAbst
              )

exportMethods(
              abstText,
              articleTitle,
              authors,
              chromInfo,
              chromLengths,
              chromLocs,
              chromNames,
              dataSource,
              Definition,
              fileName,
              geneSymbols,
              GOID,
              homoACC,
              homoHGID,
              homoLL,
              homoOrg,
              homoPS,
              homoType,
              homoURL,
              initialize,
              journal,
              mainPage,
              nChrom,
              Ontology,
              organism,
              pageText,
              pageTitle,
              pmid,
              probesToChrom,
              pubDate,
              pubMedAbst,
              Secondary,
              show,
              sidePage,
              Synonym,
              Term,
              toFile,
              topPage
              )

export(
       .buildAnnotateOpts,
       .getIdTag,
       .getNcbiURL,
       .handleXML,
       .pmfetch,
       .transformAccession,
       ACC2homology,
       accessionToUID,
       ACCNUMStats,
       annPkgName,
       aqListGOIDs,
       buildChromLocation,
       buildPubMedAbst,
       checkArgs,
       chrCats,
       compatibleVersions,
       createLLChrCats,
       createMAPIncMat,
       dropECode,
       filterGOByOntology,
       findChr4LL,
       findNeighbors,
       genbank,
       genelocator,
       getAnnMap,
       getBoundary,
       getCells,
       getEvidence,
       getGI,
       getGO,
       getGOChildren,
       getGOdesc,
       getGOOntology,
       getGOParents,
       getGOTerm,
       getGPLNames,
       getLL,
       getOntology,
       getPMID,
       getPMInfo,
       getQuery4Affy,
       getQuery4EN,
       getQuery4FB,
       getQuery4GB,
       getQuery4LL,
       getQuery4OMIM,
       getQuery4SP,
       getQuery4UG,
       getQueryLink,
       getSAGEFileInfo,
       getSAGEGPL,
       getSEQ,
       getSYMBOL,
       getTDRows,
       getUniqAnnItem,
       getValidChr,
       GO2heatmap,
       GOmnplot,
       GOTerms,
       hasGOannote,
       HGID2homology,
       homoData,
       htmlpage,
       installDataPackage,
       KEGG2heatmap,
       KEGGmnplot,
       LL2homology,
       locuslinkByID,
       locuslinkQuery,
       lookUp,
       makeAnchor,
       neighborGeneFinder,
       p2LL,
       pm.abstGrep,
       pm.getabst,
       pm.titles,
       pmAbst2HTML,
       pmid2MIAME,
       PMIDAmat,
       pmidQuery,
       probesByLL,
       pubmed,
       PWAmat,
       readGEOAnn,
       readIDNAcc,
       readUrl,
       serializeDataPkgEnvs,
       serializeEnv,
       UniGeneQuery,
       usedChromGenes,
       usedChromGenes,
       weightByConfi,
       whatACC
       )
